<div class="container">
  <div class="inputFile">
    <app-input-file #uploadedRef (fileUploaded)="readFile($event)"></app-input-file>
    <button *ngIf="newMap.length > 0" (click)="reset()" type="button" class="btn btn-danger">Reset</button>
  </div>
  <table *ngIf="newMap.length > 0">
    <tr *ngFor="let row of newMap">
      <td *ngFor="let item of row">
        <div class="item">{{item}}</div>
      </td>
    </tr>
  </table>
  <div class="alert alert-danger" *ngIf="errorMessage.length > 0" role="alert">
    {{errorMessage}}
  </div>
</div>
