.container {
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputFile{
  display: flex;
  align-items: end;
  button {
    margin-left: 50px;
    height: 40px;
  }
}
table {
  display: grid;
  justify-content: center;
  margin-top: 150px;
}

.item{
  font-size: smaller;
  font-weight: bold;
}

td {
  width: 50px;
}

.alert {
  width: 430px;
  margin-top: 35px;
}


#customFile {
  width: 350px;
}
